@media (max-width: 1320px) {
  .tiles {
    padding: 60px 0 0 100px;
    margin-top: 22rem;
  }
  .tiles__col1 {
    width: 55rem;
  }
  .tiles__col2 {
    width: 55rem;
  }

  .tiles__image--one img {
    width: 47.1rem;
    height: 26rem;
  }

  .tiles__image--two img {
    max-width: 47rem;
    height: 22.2rem;
  }

  .tiles__image--three img {
    max-width: 17.7rem;
    height: 22.2rem;
  }
}
@media (max-width: 1250px) {
  .tiles {
    margin-top: 20rem;
    padding: 60px 0 0 70px;
  }
  .tiles__col1 {
    width: 54rem;
  }
  .tiles__col2 {
    width: 54rem;
  }
}
@media (max-width: 1150px) {
  #hero__body h1 {
    font-size: 6rem;
    max-width: 72rem;
  }
  #hero {
    margin-left: 5.5rem;
  }
  .hero__ImgDiv {
    top: 55.2rem;
  }
  .tiles {
    margin-top: 17rem;
    padding: 60px 0 0 50px;
  }
  .tiles__col1 {
    width: 50rem;
  }
  .tiles__col2 {
    width: 50rem;
  }

  .tiles__image--one img {
    width: 42.1rem;
    height: 26rem;
  }

  .tiles__image--two img {
    max-width: 42rem;
    height: 22.2rem;
  }

  .tiles__image--three img {
    max-width: 16.7rem;
    height: 22.2rem;
  }
  .tiles__card--title {
    font-size: 3.8rem;
    line-height: 4rem;
    padding-bottom: 50px;
  }
  .tiles__card--title2 {
    font-size: 2.8rem;
    padding-bottom: 40px;
  }
  .tiles__card--title3 {
    font-size: 15px;
    line-height: 130%;
    letter-spacing: -0.01em;
    padding-bottom: 40px;
  }
  footer {
    padding: 7.6rem 12rem 0 10rem;
  }
}
@media (max-width: 1055px) {
  .tiles h2 {
    display: none;
  }
  .tiles__title {
    display: block;
  }
  .tiles__col1 {
    width: auto;
    height: auto;
  }
  .tiles__col2 {
    display: flex;
    width: auto;
  }
  .tiles__butn {
    display: none;
  }
  .tiles__butn--endbutton {
    display: block;
  }

  .tiles__card--title {
    font-size: 3rem;
    line-height: 3.6rem;
    padding-bottom: 60px;
  }
  .tiles__card--title2 {
    font-size: 3rem;
    line-height: 3.5rem;
    padding-bottom: 50px;
  }
  .tiles__card--title3 {
    font-size: 3rem;
    line-height: 3.5rem;
    padding-bottom: 50px;
  }
  .tiles__image--one img {
    max-width: 39rem;
    height: 22rem;
  }

  .tiles__image--two img {
    max-width: 39rem;
    height: 22rem;
  }

  .tiles__image--three img {
    max-width: 39rem;
    height: 22rem;
  }
  .tiles__card {
    height: 55rem;
  }
  .mission {
    height: 87.6rem;
  }
  .mission__container {
    padding: 7rem 0 0 10rem;
    height: 60rem;
    margin-right: 5rem;
    margin-top: 9rem;
  }
  .mission__ImgDiv {
    max-width: 90%;
    top: 45.2rem;
  }
  .benefits {
    height: 62.7rem;
  }
  .benefits h2 {
    font-size: 22px;

    padding: 5rem 0 4.7rem 9rem;
  }
  .benefits__container {
    padding-left: 9rem;
  }
  .founder {
    height: 35rem;

    padding: 7rem 0 0 10rem;
  }
  .founder__cardbox {
    max-width: 96rem;
    margin: 26% 4% 0 5%;
  }
  footer {
    padding: 7rem 10rem 0 8rem;
  }
  .footer__links li {
    padding: 0 4rem 0 0;
  }
}
@media (max-width: 1010px) {
  #hero__body h1 {
    font-size: 5.7rem;
    max-width: 65rem;
  }
  #hero {
    margin-left: 5rem;
  }
}
@media (max-width: 950px) {
  #hero__body {
    display: block;
  }
  #hero {
    height: 65rem;
    margin-left: 4.8rem;
  }
  #hero__body h1 {
    font-size: 5rem;
    max-width: 68rem;
  }
  .hero__body--butn {
    width: 17rem;
    margin-top: 5rem;
  }
  .icon2 {
    margin-left: 4rem;
    margin-right: 2rem;
  }
  .hero__body--butn,
  button:nth-child(2) {
    margin-left: -0.6rem;
    padding: 1.2rem 1rem 1.3rem 1rem;
    align-items: center;
  }

  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: white;
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: white;
  }
  .logo {
    width: 10.6rem;
    height: 3.2rem;
    background-repeat: none;
    background-position: center;
    background-size: cover;
  }
  .logo.active {
    background-image: url(../images/dummy-logo.png);
  }
  .nav__links {
    clear: right;
    position: fixed;
    width: 70%;
    height: 90vh;
    left: -100%;
    top: 200px;
    text-align: start;
  }
  .nav__links li {
    display: block;
    padding: 10px 0;
    background-color: #003a92 !important;
    border-top: 1px solid rgba(196, 196, 196, 0.1);
  }
  .nav__links li a {
    color: white;
  }
  .nav__links--active {
    opacity: 0.2;
  }
  .nav__links.active {
    left: 80px;
  }
  #hero.active {
    background-color: #003a92;
    margin-left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
  }
  .hero__header{
    padding-bottom: 0 ;
  }
  #hero__body.active {
    display: none;
  }
  #hero__ImgDiv.active {
    display: none;
  }

  .hero__ImgDiv {
    top: 52rem;
  }
  .tiles {
    margin-top: 18rem;
  }
  #tiles.active{
    display: none;
  }
  .tiles__card--subcontainer {
    font-size: 12px;
  }
  .tiles__card--title {
    font-size: 2.5rem;
    line-height: 3rem;
    padding-bottom: 20px;
  }
  .tiles__card--title2 {
    font-size: 2.5rem;
    line-height: 3rem;
    padding-bottom: 20px;
  }
  .tiles__card--title3 {
    font-size: 2.5rem;
    line-height: 3rem;
    padding-bottom: 20px;
  }
  .tiles__image--one img {
    max-width: 25rem;
    height: 22rem;
  }

  .tiles__image--two img {
    max-width: 25rem;
    height: 22rem;
  }

  .tiles__image--three img {
    max-width: 25rem;
    height: 22rem;
  }
  .tiles__card {
    height: 55rem;
    padding: 20px 20px 0 20px;
  }
  #mission.active{
    display: none;
  }
  .benefits {
    height: 65.7rem;
  }
  #benefits.active{
    display: none;
  }
  .benefits h2 {
    font-size: 20px;

    padding: 5rem 0 4.7rem 8rem;
  }
  .benefits__container {
    padding-left: 8rem;
  }
  #founder.active{
    display: none;
  }
  #gallery.active{
    display: none;
  }
  #founder.active{
    display: none;
  }
  #footer.active{
    display: none;
  }
  .founder {
    height: 30rem;

    padding: 6rem 0 0 8rem;
  }
  .founder__cardbox {
    max-width: 90rem;
    margin: 20% 4% 0 5%;
  }
  .footer__icon {
    display: none;
  }
  .footer__icon--mobile {
    display: block;
  }
  .footer__logo {
    float: left;
  }
  .footer__liner {
    clear: left;
    margin-top: 7rem;
  }
  .footer__links {
    float: none;
  }
  .footer__col2 {
    float: right;
  }
  .footer__links li {
    display: blocK;
    padding: 10px 0;
  }
  .footer__links li a {
    font-size: 1.8rem;
  }
  nav {
    height: 13rem;
  }
  .footer__text {
    padding-top: 2rem;
  }
}
@media (max-width: 800px) {
  .hero__ImgDiv {
    top: 56.2rem;
  }
  .tiles {
    margin-top: 14rem;
  }
  .tiles__card--subcontainer {
    font-size: 11px;
  }
  .tiles__card--title {
    font-size: 2.3rem;
    line-height: 2.8rem;
    padding-bottom: 20px;
  }
  .tiles__card--title2 {
    font-size: 2.3rem;
    line-height: 2.8rem;
    padding-bottom: 20px;
  }
  .tiles__card--title3 {
    font-size: 2.3rem;
    line-height: 2.8rem;
    padding-bottom: 20px;
  }
  .tiles__image--one img {
    max-width: 22.4rem;
    height: 14rem;
  }

  .tiles__image--two img {
    max-width: 22.4rem;
    height: 14rem;
  }

  .tiles__image--three img {
    max-width: 22.4rem;
    height: 14rem;
  }
  .tiles__card {
    height: 34rem;
    padding: 18px 18px 0 18px;
  }
  .mission {
    height: 80.6rem;
  }
  .mission__container {
    padding: 5rem 0 0 8rem;
    height: 50rem;
    margin-right: 5rem;
    margin-top: 9rem;
  }
  .mission__ImgDiv {
    max-width: 90%;
    top: 45.2rem;
  }
  .mission__container h2 {
    font-size: 2rem;
    line-height: 2rem;
  }
  .benefits {
    height: 60.7rem;
  }
  .benefits h2 {
    font-size: 18px;

    padding: 5rem 0 4.7rem 6rem;
  }
  .benefits__container {
    padding-left: 6rem;
  }
  .founder {
    height: 22rem;
    padding: 5rem 0 0 7rem;
  }
  .founder__cardbox {
    max-width: 85rem;
    margin: 19% 4% 0 5%;
  }
  .founder__card {
    max-width: 85%;
    top: 13rem;
  }
  .founder__title {
    font-size: 2rem;
    line-height: 2rem;
  }
  .founder__cardtext {
    font-size: 35px;
  }
  footer {
    padding: 6rem 12rem 0 10rem;
  }
  .footer__text--right {
    float: none;
    clear: left;
    padding-right: 0rem;
  }
  .footer__text--mobile {
    float: right;
    padding-right: 0rem;
    margin-right: -6rem;
  }
  .footer__text--right {
    text-align: center;
    padding-top: 32px;
  }
}
@media (max-width: 700px) {
  .hero__header {
    padding: 4rem;
  }
  #hero__body {
    padding: 20px 16px 0px 60px;
  }
  #hero__body h1 {
    font-size: 4rem;
    max-width: 68rem;
  }
  .hero__ImgDiv {
    top: 55.2rem;
  }
  .tiles {
    margin-top: 11rem;
  }
  .founder {
    height: 20rem;
    padding: 5rem 0 0 7rem;
  }
}
@media (max-width: 620px) {
  #hero {
    height: 55rem;
    margin-left: 4rem;
  }
  #hero__body h1 {
    font-size: 4rem;
    max-width: 60rem;
  }
  .hero__body--butn {
    width: 17rem;
    margin-top: 5rem;
  }
  .hero__ImgDiv {
    top: 45rem;
  }
  .hero__header,
  nav {
    height: 12rem;
  }
  .mission {
    height: 72.6rem;
  }
  .mission__container {
    padding: 4rem 0 0 6rem;
    height: 50rem;
    margin-right: 5rem;
    margin-top: 9rem;
  }
  .mission__ImgDiv {
    max-width: 90%;
    top: 45.2rem;
  }
  .mission__container h1 {
    font-size: 4rem;
    line-height: 110%;
    letter-spacing: -0.02em;
  }
  .benefits {
    height: 46rem;
  }
  .benefits h2 {
    font-size: 1.4rem;
    padding: 4rem 0 4.7rem 3.2rem;
  }
  .benefits__container {
    padding-left: 3.2rem;
  }
  .benefits__card {
    width: 20.2rem;
    height: 32.1rem;
    margin-right: 1.6rem;
  }

  .benefits__card--img {
    max-width: 20.2rem;
    height: 26.9rem;
  }
  .benefits__card--img img {
    max-width: 20.2rem;
    height: 26.9rem;
  }
  .benefits__card--subtitle {
    margin-top: 1.2rem;
    width: 20.2rem;
    font-size: 1.4rem;
    height: 0.4rem;
    margin-bottom: 0;
  }
  .founder {
    height: 12.5rem;
    padding: 4rem 0 0 3.2rem;
  }
  .founder__title {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }
  .founder__card {
    max-width: 100%;
    height: 17.5rem;
    top: 7rem;
    left: 3.2rem;
  }
  .founder__cardImg {
    max-width: 100%;
  }
  .founder__cardbox {
    max-width: 102rem;
    margin: 30% 4% 0 5%;
  }
  .founder__cardtext {
    font-size: 24px;
  }
  .founder__cardline {
    display: none;
  }
  .founder__card {
    top: 8rem;
    width: 66%;
    background-size: cover;
  }
  .founder__card2 {
    width: 66%;
    height: 17.5rem;
    top: 27rem;
    left: 3.2rem;
    display: block;
  }
  .founder__cardtext--two {
    display: none;
  }
  .gallery {
    height: 82rem;
    padding-left: 4rem;
  }
  .gallery__container {
    margin-top: 0;
  }
  .gallery__title {
    display: block;
    font-size: 18px;
    margin-top: 30rem;
    padding-bottom: 1.6rem;
  }
  .gallery__title--one {
    display: none;
  }
  .gallery__card {
    width: 25.6rem;
    padding: 2rem;
  }
  .gallery__cardImage {
    max-width: 22.4rem;
  }
  .gallery__cardImage img {
    width: 21.4rem;
  }
  .gallery__subtext {
    padding-top: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
  }
  footer {
    padding: 5rem 8rem 0 8rem;
  }
  .footer__links,
  nav {
    height: 150px;
  }
  .footer__text {
    padding-left: 0rem;
  }
}
@media (max-width: 560px) {
  .mission {
    height: 70rem;
  }
  .mission__container {
    padding: 4rem 0 0 5rem;
    height: 50rem;
    margin-right: 4rem;
    margin-top: 8rem;
  }
  .mission__container h1 {
    font-size: 3.5rem;
    line-height: 110%;
    letter-spacing: -0.02em;
  }
  .founder__card {
    top: 8rem;
    width: 73%;
  }
  .founder__card2 {
    width: 73%;
    height: 17.5rem;
    top: 27rem;
    left: 3.2rem;
    display: block;
  }
}
@media (max-width: 500px) {
  #hero {
    height: 45rem;
    margin-left: 3rem;
  }
  #hero__body {
    padding: 10px 16px 0px 30px;
  }
  #hero__body h1 {
    font-size: 3rem;
    max-width: 50rem;
  }
  .hero__body--butn {
    width: 17rem;
    margin-top: 3rem;
  }
  .hero__ImgDiv {
    top: 35rem;
    left: 3.5rem;
  }
  .hero__header {
    padding: 3rem;
  }
  .hero__header,
  nav {
    height: 10rem;
  }
  .tiles {
    margin-top: 5rem;
  }
  .mission {
    height: 56rem;
  }
  .mission__container {
    padding: 4rem 0 0 3.5rem;
    height: 40rem;
    margin-right: 4rem;
    margin-top: 5rem;
  }
  .mission__ImgDiv {
    max-width: 90%;
    top: 35.2rem;
  }
  .mission__container h1 {
    font-size: 3rem;
    line-height: 110%;
    letter-spacing: -0.02em;
  }
  .mission__container h2 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .mission__container p {
    font-size: 1.4rem;
    line-height: 140%;
    letter-spacing: 0.1em;
    color: white;
    padding: 2rem 0rem 0 0;
    max-width: 35rem;
  }
  .founder__card2 {
    height: 17.5rem;
    top: 27rem;
    left: 3.2rem;
    display: block;
  }
  .founder__cardbox {
    max-width: 102rem;
    margin: 35% 4% 0 5%;
  }
  footer {
    padding: 3rem 6rem 0 6rem;
  }

  .footer__links li a {
    font-size: 1.6rem;
  }
  .footer__text--mobile {
    margin-right: 0rem;
  }
  .footer__text {
    font-size: 12px;
    padding-top: 2rem;
  }
  .footer__text--right {
    text-align: center;
  }
  .footer__links,
  nav {
    height: 160px;
  }
}
@media (max-width: 400px) {
  #hero {
    height: 42em;
    margin-left: 2rem;
  }
  #hero__body h1 {
    font-size: 2.8rem;
    max-width: 30rem;
  }
  .hero__body--butn {
    width: 17rem;
    margin-top: 1rem;
    line-height: 90%;
  }
  .hero__ImgDiv {
    top: 37rem;
  }
  .hero__header,
  nav {
    height: 10rem;
  }

  .mission {
    height: 54rem;
  }
  .mission__container {
    padding: 4rem 0 0 3.3rem;
    height: 40rem;
    margin-right: 2rem;
    margin-top: 4rem;
  }
  .mission__ImgDiv {
    max-width: 90%;
    top: 35.2rem;
  }
  .mission__container h1 {
    font-size: 2.4rem;
    line-height: 110%;
    letter-spacing: -0.02em;
  }
  .mission__container h2 {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }
  .mission__container p {
    font-size: 1.4rem;
    line-height: 140%;
    letter-spacing: 0.1em;
    color: white;
    padding: 1rem 0rem 0 0;
    max-width: 31rem;
  }
  .founder__card {
    width: 85%;
  }
  .founder__card2 {
    width: 85%;
    height: 17.5rem;
    top: 27rem;
    left: 3.2rem;
    display: block;
  }
  footer {
    padding: 3rem 3.2rem 0 3.2rem;
  }

  .footer__links li a {
    font-size: 1.2rem;
  }

  .footer__text {
    font-size: 12px;
    padding-top: 2rem;
  }
  .footer__text--right {
    text-align: center;
  }
  .footer__links,
  nav {
    height: 170px;
  }
}
