@font-face {
  font-family: Galaxie;
  src: url(../fonts/GalaxieCopernicus.otf);
}
html {
  font-size: 62.5%;
}

:root {
  --clr-primary: #003a92;
  --clr-accent: #74788a;
  --clr-black: #3c3c3c;
  --ff-primary: Galaxie;
}

header {
  padding: 2.4rem;
}
.icon {
  width: 1.6rem;
  height: 1.6rem;
  float: right;
  cursor: pointer;
}
.icon:hover {
  opacity: 0.6;
}
.icon2 {
  margin-left: 5.2rem;
  margin-right: 11.8rem;
}
#hero {
  margin-top: 2rem;
  margin-left: 6rem;
  max-width: 100%;
  height: 76.8rem;
  background: white;
  position: relative;
}
.hero__header {
  padding: 6rem;
}

.logo {
  width: 14.8rem;
  height: 4.6rem;
  float: left;
  background-image: url(../images/Union.png);
}
.nav__links {
  float: right;
  list-style: none;
}
.nav__links li {
  display: inline-block;
  padding: 0 1.6rem;
}
.nav__links li a {
  text-decoration: none;
  color: var(--clr-black);
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
}
.nav__links li a:hover {
  opacity: 0.6;
}
.nav__subtext {
  padding-top: 1rem;
  padding-bottom: 0.4rem;
  padding-left: 6rem;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #ffffff;
  display: none;
}

.hamburger {
  float: right;
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #3c3c3c;
}
#hero__body {
  padding: 26px 16px 0px 60px;
  display: flex;
}
#navbtn {
  cursor: pointer;
}
.hero__navbody {
  display: none;
  float: right;
  padding-right: 3rem;
  padding-top: 20px;
}
.hero__navbody--line {
  width: 80px;
  height: 1px;
  left: 933px;
  background: #c4c4c4;
  margin: 2rem 0;
}
.hero__navbody--text {
  max-width: 38rem;
  font-style: normal;
  font-family: var(--ff-primary);
  color: var(--clr-primary);
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.02em;
}

.hero__body,
h1 {
  max-width: 85.5rem;
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 6.4rem;
  color: var(--clr-primary);
  line-height: 110%;
  letter-spacing: -0.02em;
}
.hero__body--butn {
  width: 17rem;
  margin-top: 12rem;
}
.hero__body--butn,
button:nth-child(1) {
  padding: 1.3rem 2.3rem 1.3rem 1.2rem;

  font-weight: 700;
  font-size: 1.6rem;
  cursor: pointer;
}
.hero__body--butn,
button:nth-child(2) {
  margin-left: -0.6rem;
  padding: 1.2rem 1rem 1.3rem 1rem;
}
.hero__ImgDiv {
  position: absolute;
  left: 6rem;
  top: 48.2rem;
  max-width: 100%;
  height: auto;
}
.hero__ImgDiv--img {
  max-width: 100%;
}

.tiles {
  margin-top: 25rem;
  width: 100%;
  height: auto;
  padding: 60px 0 0 120px;
}
.tiles__title {
  font-weight: 700;
  font-size: 24px;
  color: var(--clr-primary);
  padding-bottom: 3rem;
  display: none;
}
.tiles h2 {
  font-weight: 700;
  font-size: 24px;
  color: var(--clr-primary);
  padding-bottom: 6rem;
}
.tiles__col1 {
  width: 60rem;
}
.tiles__col2 {
  width: 60rem;
}
.tiles__col3 {
  display: flex;
}
.tiles__container {
  display: flex;
  margin-top: 1.6rem;
  overflow: hidden;
}
.tiles__card {
  height: auto;
  border: 1px solid white;
  padding: 40px 40px 0 40px;
}

.tiles__image--one img {
  width: 52.1rem;
  height: 26rem;
}

.tiles__image--two img {
  max-width: 52rem;
  height: 22.2rem;
}

.tiles__image--three img {
  max-width: 21.7rem;
  height: 22.2rem;
}
.tiles__card--subcontainer {
  padding-top: 1.6rem;
  display: flex;
  color: #74788a;
  font-weight: 700;
  font-size: 14px;
  line-height: 10px;
}
.tiles__card--subcontainer-line {
  width: 1.6rem;
  height: 1px;
  margin: auto 4px;
  vertical-align: bottom;
  background-color: #c4c4c4;
}
.tiles__card--title {
  font-size: 4.4rem;
  font-family: var(--ff-primary);
  font-weight: 400;
  line-height: 5.2rem;
  color: var(--clr-black);
  padding: 12px 0px 91px 0px;
}
.tiles__card--title2 {
  font-size: 3.2rem;
  padding-bottom: 56px;
}
.tiles__card--title3 {
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.01em;
  padding-bottom: 47px;
}
.tiles__butn {
  margin-top: 40px;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  padding-bottom: 13px;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  cursor: pointer;
}
.tiles__butn:hover {
  opacity: 0.8;
}
.tiles__butn img {
  width: 7.3px;
  height: 12.8px;
  margin-left: 12px;
  margin-top: 3px;
}
.tiles__butn--endbutton {
  display: none;
}

.mission {
  width: 100%;
  height: 105.6rem;
  position: relative;
}
.mission__container {
  max-width: 100%;
  height: 70rem;
  margin-right: 6rem;
  margin-top: 10.5rem;
  background-color: #8c2531;
  padding: 8rem 0 0 12rem;
}
.mission__container h2 {
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.4rem;
}
.mission__container h1 {
  font-family: var(--ff-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 4.4rem;
  color: white;
  line-height: 120%;
  letter-spacing: -0.02em;
  padding: 3.2rem 4rem 0 0;
}
.mission__container p {
  font-family: var(--ff-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: white;
  padding: 2rem 0rem 0 0;
  max-width: 57rem;
}
.mission__ImgDiv {
  position: absolute;
  max-width: 90%;
  top: 52.2rem;
  height: auto;
}
.mission__ImgDiv--img {
  max-width: 100%;
}
.benefits {
  width: 100%;
  height: 76.7rem;
  background-color: white;
}
.benefits h2 {
  font-weight: 700;
  font-size: 24px;
  color: var(--clr-primary);
  padding: 8rem 0 4.7rem 12rem;
}
.benefits__container {
  width: 100%;
  padding-left: 12rem;
  display: flex;
  overflow: hidden;
}
.benefits__card {
  width: 25.5rem;
  height: 49.7rem;
  margin-right: 6rem;
}

.benefits__card--img {
  max-width: 25.5rem;
  height: 34rem;
}

.benefits__card--subtitle {
  max-width: 25.5rem;
  height: 5rem;
  margin-top: 2rem;
  margin-bottom: 11.3rem;
  font-family: var(--ff-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #3c3c3c;
}

footer {
  height: 41.5rem;
  width: 100%;
  background-color: var(--clr-black);
  padding: 7.6rem 12rem 0 12rem;
}
nav {
  height: 8rem;
}

.footer__col1 {
  float: left;
}
.footer__col2 {
  float: left;
}
